header {
    background: rgb(220, 220, 220);
}

.splash-title .box {
    border: 3px orange   solid;
    background: rgba(220, 220, 220, .8);
}

.skills {
    background-color: #d8d8d8;
}

.contact-form button.submit-button {
    background-color: blue;
    
    border-radius: 0 0 6px 6px;
}

.contact-form .message,
.contact-form input.email-address {
    background-color: #f8f8f8;
    border: orange 1px solid;
}

.contact-form .message {
    border-radius: 6px;
}

.contact-form input.email-address {
    border-radius: 6px 6px 0 0;
}

@media (min-width: 500px) {

    .contact-form button.submit-button {
        background-color: blue;
        border-radius: 0 6px 6px 0;
    }

    .contact-form input.email-address {
        border-radius: 6px 0 0 6px;
    }

}

@media (min-width: 800px) {
    header {
        background-image: url(../assets/splash-portrait.jpg);
        background-size: cover;
        background-position: 82% 55%;
    }
}