header {
    background: rgb(220, 220, 220);
}

.splash-title .box {
    border: 3px orange solid;
    border-radius: 6px;
    background: rgba(240, 240, 240, 0.8);
    box-shadow: 0 3px 6px gray;
}

.scroll-down img {
    filter: drop-shadow(0 3px 3px gray);
}

.scroll-down img:hover {
    filter: drop-shadow(0 1px 1px gray);
}

.skills {
    background-color: #33d;
}

.contact-form button.submit-button {
    background-color: #33d;
    border: 1px #33d solid;
    border-radius: 0 0 6px 6px;
}

.contact-form .message,
.contact-form input.email-address {
    background-color: #f8f8f8;
    border: orange 1px solid;
}

.contact-form .message {
    border-radius: 6px;
}

.contact-form input.email-address {
    border-radius: 6px 6px 0 0;
}

footer {
    background: #33d;
}

@media (min-width: 500px) {

    .contact-form button.submit-button {
        background-color: #33d;
        border-radius: 0 6px 6px 0;
    }

    .contact-form input.email-address {
        border-radius: 6px 0 0 6px;
    }

}

@media (min-width: 800px) {
    header {
        background-image: url(../assets/splash-portrait.jpg);
        background-size: cover;
        background-position: 82% 55%;
    }
}