
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.content-wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

.full-bleed-right {
    margin: 0;
}


header {
    height: 85vh;
    min-height: 520px;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    height: 12vh;
    
}

header nav h1 {
    text-align: left;
}


header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 40%;
    margin-left: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: fixed;
    right: 0;
    margin-right: 10%;
}

header nav li:not(.navburger) {
    display: none;
}


.splash-title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 10px;
    height: 70vh;
    min-height: 450px;
}

.splash-title .box {
    padding: 1rem;
    margin-right: auto;
    margin-left: 0;
    max-width: 256px;
}

.link-box {
    padding: .5rem;
    text-align: center;
}
.splash-title .link-boxes {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    min-width: 200px;
}

h3 {
    padding: 2rem 0;
}

.profile-deets {
    margin: 0 auto;
}
.profile-deets .deet-label {
    padding: 0;
    width: 100px;
}

.profile-deets

.profile-deets .deet-value {
    padding: 0;
    width: 160px;
}

.profile-deets .deet-value {
    padding-left: 1rem;
}

.profile-copy {
    padding: 2rem 0;
}

.tech-skills {
    padding: 1rem;
}

.tech-skills ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tech-skills li {
    min-width: 105px;
    padding: 0;
    margin: 0;
    width: 30%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.portfolio li {
    min-width: 256px;
    padding: 0 0 1rem 0;
    margin: 0 auto;
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.portfolio img {
    min-width: 256px;
}

.portfolio p {
    padding: 1rem;
    margin: 0;
    text-align: center;
}
@media (min-width: 760px) {
    .navburger {
        display: none;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 20%;
        max-width: 50%;
        margin-left: 2.5%;
        padding-left: 2.5%;
        position: static;
        margin-right: 0;
    }

    
    header nav li:not(.navburger) {
        display: block;
    }
}