@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Raleway:500,800&display=swap');

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    font-weight: bolder;
}

p, .profile-deets, .portfolio li, form {
    font-family: "Open Sans";
    font-size: 1rem;
    line-height: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    color: #33d;
    font-weight: 500;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h4 { 
    font-size: 1.2rem;
}

.splash-title .box h4,
.splash-title .box h2 {
    line-height: 1.3;
}


.tech-skills li {
    font-size: 3rem;
}

.tech-skills .skill-name {
    font-family: 'Roboto';
    line-height: 2;
    font-size: 1.2rem;
}

.contact-form input.submit-button {
    font-weight: bolder;
    color: white;

}

footer {
    font-size: .8rem;
}

@media (min-width: 800px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p,
    .portfolio li {
        font-size: 1rem;
    }
}


@media (min-width: 1010px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

}


