@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway:500,800&display=swap');

html {
    font-size: 125%;
}

a {
    text-decoration: none;
    color: teal;
}

h1, h2, h3, h4, h5, h6, header nav {
    font-family: "Raleway";
    color: teal;
}

header nav {
    font-weight: 500;
}

h1 {
    font-size: 7vw;
}

.title-extra-bold {
    font-weight: 800;
}
.title-light {
    font-weight: 500;
}

.link-box {
    text-align: center;
}

@media (min-width: 700px) {
    h1 {
        font-size: 1.8rem;
    }
}