@import url('https://fonts.googleapis.com/css?family=Acme:400|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One:400&display=swap');

a {
    text-decoration: none;
    color: #ff6694;
}

a:hover {
    font-weight: bolder;
}

p, .profile-deets, .portfolio li, form {
    font-family: "Montserrat";
    font-size: 1rem;
    line-height: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Carter One";
    color: #2a324b;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.8rem
}

h4 { 
    font-size: 1.2rem;
}

.splash-title .box h4,
.splash-title .box h2 {
    line-height: 1.3;
}

.scroll-down a {
    font-size: 6rem;
    text-decoration: none;
    color: #ff6694;
}

.scroll-down a:hover {
    color: #af4766;
}

.tech-skills li {
    font-size: 5rem;
    color: #ff6694;
}

.tech-skills .skill-name {
    font-family: 'Carter One';
    line-height: 2;
    font-size: 1.2rem;
}

.contact-form button.submit-button {
    font-weight: bolder;
    color: white;
    letter-spacing: .08rem;

}

footer {
    font-size: .8rem;
    color: #c7ccdb;
}

@media (min-width: 1110px) {

    h1 {
        font-size: 3rem;
    }

    p,
    .portfolio li {
        font-size: 1rem;
    }
}


@media (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.3rem;
    }

}


